name: Auto Deploy to Server

on:
  push:
    branches:
      - main  # chạy khi push lên nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/dangbong-frontend
            git pull origin main
            npm install
            npm run build
            pm2 restart dangbong-frontend
